.benefits__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .benefits__wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
  }

  .benefits__image--one {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .benefits__image--two {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (min-width: @desktop-width) {
  .benefits__wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
  }

  .benefits__image--one {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .benefits__image--two {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.benefits__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.benefits__card-header {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.benefits__card-number {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.benefits__card-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.benefits__card-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
}

.benefits__card-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
}

.benefits__card--blue {
  background-color: @blue;
}

.benefits__card--white {
  background-color: @white;
}

.benefits__card--beige {
  background-color:@beige;
  border-bottom: 1px solid #d6d6d6;
}

.benefits__card--beige:last-child {
  border: 0;
}
