.benefits__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.benefits__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 220px;
}

.benefits__card--blue {
  color: @white;
  background-color: @blue;
}

.benefits__card--two {
  margin-top: 19px;
  min-height: 192px;
  order: 1;
}

.benefits__image--two {
  order: 2;
}

.benefits__card-home {
  position: relative;
  width: 100%;
  min-height: 139px;
  background-color: @white;
  margin-top: 17px;
}

.benefits__card-suvenir {
  position: relative;
  width: 100%;
  min-height: 139px;
  background-color: @white;
  margin-top: -7px;
}

.benefits__card-eat {
  position: relative;
  width: 100%;
  min-height: 139px;
  background-color: @white;
  margin-top: -30px;
}

.benefits__card-img--home {
  display: block;
  width: 39px;
  height: 37px;
  position: absolute;
  top: 10px;
  left: 21px;
  background-image: url("../img/icon-house.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.benefits__card-img--suvenir {
  display: block;
  width: 39px;
  height: 37px;
  position: absolute;
  top: 6px;
  left: 21px;
  background-image: url("../img/icon-gift.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.benefits__card-img--eat {
  display: block;
  width: 39px;
  height: 37px;
  position: absolute;
  top: 12px;
  left: 18px;
  background-image: url("../img/icon-burger.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.benefits__card-header {
  display: block;
  margin: 0 auto;
  width: 282px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.benefits__card-header--one {
  margin-top: 65px;
}

.benefits__card-header--two {
  margin-top: 39px;
}

.benefits__card-header--three {
  margin-top: 25px;
}

.benefits__card-header--four {
  margin-top: 25px;
}

.benefits__card-header--five {
  margin-top: 25px;
}

.benefits__card-number {
  display: block;
  width: 282px;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 13px;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.benefits__card-text {
  display: block;
  width: 282px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
}

.benefits__card-text--three {
  padding: 0 21px;
}

.benefits__card-text--four {
  width: 255px;
}

.benefits__card-text--five {
  width: 255px;
  line-height: 24px;
}

.benefits__card-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
  padding-left: 70px;
}

.benefits__card-description--home {
  width: 210px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  text-transform: uppercase;
  padding-left: 70px;
  margin-top: -4px;
}

.benefits__card-description--suvenir {
  width: 200px;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  text-align: left;
  text-transform: uppercase;
  padding-left: 70px;
  margin-top: -5px;
}

.benefits__card-description--eat {
  width: 180px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  text-transform: uppercase;
  padding-left: 70px;
  margin-top: -4px;
}

.benefits__card-description--br {
  display: none;
}

.benefits__card--beige {
  background-color: @beige;
  border-bottom: 1px solid @gray84;
  min-height: 166px;
  order: 3;
}

.benefits__card--beige:last-child {
  border: 0;
}

.benefits__image {
  display: block;
  width: 100%;
  height: 260px;
}

//@media (min-width: @mobile-width-only) {}

@media (min-width: @tablet-width) {
  .benefits__wrapper {
    display: grid;
    grid-template-rows: 256px 1fr 256px 1fr;
    grid-template-columns: 33.3% 33.3% 33.3%;
    gap: 0;
    height: 1098px;
  }

  .benefits__card {
    min-height: 256px;
  }

  .benefits__card--two {
    margin-top: 0;
    order: 3;
  }

  .benefits__card--beige {
    border: 0;
    order: 4;
  }

  .benefits__image--one {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .benefits__image--two {
    grid-column-start: 1;
    grid-column-end: 3;
    order: 2;
  }

  .benefits__card-home {
    min-height: 330px;
    margin-top: 0;
  }

  .benefits__card-suvenir {
    min-height: 330px;
    margin-top: 0;
    order: 1;
  }

  .benefits__card-eat {
    min-height: 330px;
    margin-top: 0;
  }

  .benefits__card-header {
    width: 159px;
    margin-top: 39px;
    font-size: 21px;
  }

  .benefits__card-header--two {
    margin-top: 42px;
    width: 150px;
  }

  .benefits__card-header--three {
    margin-top: 42px;
  }

  .benefits__card-header--four {
    margin-top: 43px;
  }

  .benefits__card-header--five {
    margin-top: 42px;
  }

  .benefits__card-number {
    width: 180px;
    margin-top: 10px;
    margin-bottom: 21px;
  }

  .benefits__card-text {
    width: 190px;
    line-height: 21px;
  }

  .benefits__card-text--three {
    width: 185px;
    line-height: 20px;
  }

  .benefits__card-text--four {
    width: 145px;
    line-height: 20px;
  }

  .benefits__card-text--five {
    width: 150px;
    line-height: 20px;
  }

  .benefits__card--white {
    min-height: 330px;
  }

  .benefits__card-title {
    margin: 0 auto;
    margin-top: 157px;
    padding: 0;
    font-size: 21px;
  }

  .benefits__card-description--home {
    margin: 0 auto;
    margin-top: 21px;
    width: 190px;
    text-align: center;
    padding-left: 0;
  }

  .benefits__card-description--suvenir {
    margin: 0 auto;
    margin-top: 21px;
    width: 195px;
    text-align: center;
    padding-left: 0;
  }

  .benefits__card-description--eat {
    margin: 0 auto;
    margin-top: 21px;
    width: 155px;
    text-align: center;
    padding-left: 0;
  }

  .benefits__card-description--br {
    display: none;
  }

  .benefits__card-img--home {
    display: block;
    width: 75px;
    height: 72px;
    position: absolute;
    top: 58px;
    left: calc(50% - 37px);
    background-image: url("../img/icon-house.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .benefits__card-img--suvenir {
    display: block;
    width: 75px;
    height: 72px;
    position: absolute;
    top: 58px;
    left: calc(50% - 37px);
    background-image: url("../img/icon-gift.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .benefits__card-img--eat {
    display: block;
    width: 75px;
    height: 72px;
    position: absolute;
    top: 58px;
    left: calc(50% - 37px);
    background-image: url("../img/icon-burger.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .benefits__image {
    height: 256px;
  }
}

@media (min-width: @desktop-width) {
  .benefits__wrapper {
    display: grid;
    grid-template-rows: 256px 1fr 256px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
  }

  .benefits__card--beige {
    border: 0;
  }

  .benefits__image--one {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .benefits__image--two {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .benefits__card-header {
    width: 150px;
    margin-top: 50px;
  }

  .benefits__card-eat--img-eat {
    top: 61px;
  }

  .benefits__card-header--three {
    margin-top: 44px;
  }

  .benefits__card-header--four {
    margin-top: 44px;
  }

  .benefits__card-header--five {
    margin-top: 44px;
  }

  .benefits__card-number {
    width: 292px;
    margin-top: 9px;
    margin-bottom: 21px;
  }

  .benefits__card-text {
    width: 265px;
  }

  .benefits__card-text--two {
    width: 215px;
  }

  .benefits__card-text--three {
    width: 295px;
    line-height: 21px;
  }

  .benefits__card--white {
    min-height: 330px;
  }

  .benefits__card-title {
    margin: 0 auto;
    margin-top: 158px;
    padding: 0;
  }

  .benefits__card-description--home {
    margin: 0 auto;
    margin-top: 23px;
    width: 260px;
    text-align: center;
    padding-left: 0;
  }

  .benefits__card-description--suvenir {
    margin: 0 auto;
    margin-top: 21px;
    width: 215px;
    text-align: center;
    padding-left: 0;
  }

  .benefits__card-description--eat {
    width: 285px;
  }

  .benefits__card-description--br {
    display: inline;
  }

  .benefits__card--home {
    display: block;
    width: 75px;
    height: 72px;
    position: absolute;
    left: calc(50% - 37px);
    background-image: url("../img/icon-house.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .benefits__card--suvenir {
    display: block;
    width: 75px;
    height: 72px;
    position: absolute;
    left: calc(50% - 37px);
    background-image: url("../img/icon-gift.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .benefits__card--eat {
    display: block;
    width: 75px;
    height: 72px;
    position: absolute;
    left: calc(50% - 37px);
    background-image: url("../img/icon-burger.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
