.benefits__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.benefits__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 260px;
}

.benefits__card--blue {
  color: @white;
}

.benefits__card--white {
  position: relative;
  width: 100%;
  height: 180px;
  background-color: @white;
}

.benefits__card--home {
  display: block;
  width: 39px;
  height: 37px;
  position: absolute;
  top: 26px;
  left: 21px;
  background-image: url("../img/icon-house.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.benefits__card--suvenir {
  display: block;
  width: 39px;
  height: 37px;
  position: absolute;
  top: 26px;
  left: 21px;
  background-image: url("../img/icon-gift.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.benefits__card--eat {
  display: block;
  width: 39px;
  height: 37px;
  position: absolute;
  top: 26px;
  left: 21px;
  background-image: url("../img/icon-burger.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


.benefits__card-header {
  display: block;
  width: 282px;
  margin: 0 auto;
  margin-top: 25px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.benefits__card-number {
  display: block;
  width: 282px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.benefits__card-text {
  display: block;
  width: 282px;
  margin: 0 auto;
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.benefits__card-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
  padding-left: 70px;
}

.benefits__card-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
  padding-left: 70px;
}

.benefits__card--beige {
  background-color: @beige;
  border-bottom: 1px solid @gray84;
}

.benefits__card--beige:last-child {
  border: 0;
}

.benefits__image {
  display: block;
  width: 100%;
  height: 260px;
}

@media (min-width: @tablet-width) {
  .benefits__wrapper {
    display: grid;
    grid-template-rows: 260px 1fr 260px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
  }

  .benefits__card--beige {
    border: 0;
  }

  .benefits__image--one {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .benefits__image--two {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .benefits__card-header {
    width: 180px;
    margin-top: 42px;
  }

  .benefits__card-number {
    width: 180px;
    margin-top: 25px;
    margin-bottom: 30px;
  }

  .benefits__card-text {
    width: 180px;
    margin-bottom: 41px;
  }

  .benefits__card--white {
    min-height: 330px;
  }

  .benefits__card-title {
    margin: 0 auto;
    margin-top: 145px;
    padding: 0;
  }

  .benefits__card-description {
    width: 185px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }

  .benefits__card--home {
    display: block;
    width: 75px;
    height: 72px;
    position: absolute;
    left: calc(50% - 37px);
    background-image: url("../img/icon-house.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .benefits__card--suvenir {
    display: block;
    width: 75px;
    height: 72px;
    position: absolute;
    left: calc(50% - 37px);
    background-image: url("../img/icon-gift.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .benefits__card--eat {
    display: block;
    width: 75px;
    height: 72px;
    position: absolute;
    left: calc(50% - 37px);
    background-image: url("../img/icon-burger.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (min-width: @desktop-width) {
  .benefits__wrapper {
    display: grid;
    grid-template-rows: 260px 1fr 260px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
  }

  .benefits__card--beige {
    border: 0;
  }

  .benefits__image--one {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .benefits__image--two {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .benefits__card-header {
    width: 292px;
    margin-top: 50px;
  }

  .benefits__card-number {
    width: 292px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .benefits__card-text {
    width: 292px;
    margin-bottom: 60px;
  }

  .benefits__card--white {
    min-height: 330px;
  }

  .benefits__card-title {
    margin: 0 auto;
    margin-top: 145px;
    padding: 0;
  }

  .benefits__card-description {
    width: 185px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }

  .benefits__card--home {
    display: block;
    width: 75px;
    height: 72px;
    position: absolute;
    left: calc(50% - 37px);
    background-image: url("../img/icon-house.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .benefits__card--suvenir {
    display: block;
    width: 75px;
    height: 72px;
    position: absolute;
    left: calc(50% - 37px);
    background-image: url("../img/icon-gift.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .benefits__card--eat {
    display: block;
    width: 75px;
    height: 72px;
    position: absolute;
    left: calc(50% - 37px);
    background-image: url("../img/icon-burger.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
