.button-video__replay {
  display: block;
  width: 20px;
  height: 16px;
  background-image: url("../img/replay.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.button-video__cedits {
  display: block;
  width: 32px;
  height: 20px;
  background-image: url("../img/subtitles.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.button-video__fullscreen {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../img/fullscreen.svg");
  background-position: center;
  background-repeat: no-repeat;
}
