.button-video__replay {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../img/replay.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: 5px;
}

.button-video__cedits {
  display: block;
  width: 32px;
  height: 20px;
  background-image: url("../img/subtitles.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: 98px;
}

.button-video__fullscreen {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../img/fullscreen.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 6px;
}

.button-video__style:hover {
  stroke: @black3;
  fill: @black3;
}

.button-video__style:active {
  opacity: 0.3;
}
