.copyright {
  margin: 0 auto;
}

.copyright__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: @black;
}
