.error--opened {
  position: fixed;
  bottom: 50%;
  left: calc(50% - 160px);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 280px;
  text-transform: uppercase;
  background-color: @white;
  box-shadow: 0 25px rgba(242, 242, 242, 1);
}

.error--closed {
  display: none;
}

.error__header {
  margin-top: 42px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.error__text {
  width: 210px;
  margin-top: 8px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.error__button {
  display: block;
  margin-top: 9px;
  width: 180px;
  height: 58px;
  border: none;
  background-color: @blue;
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: @white;
  text-transform: uppercase;
}

.error__button:hover {
  background-color: @hover_button;
}

.error__button:active {
  background-color: @active_button;
  opacity: 0.3;
}

.error__button:disabled {
  background-color: @color-e5;
}

@media (min-width: @tablet-width) {
  .error {
    width: 400px;
    height: 347px;
    left: calc(50% - 200px);
  }

  .error__header {
    width: 212px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }

  .error__text {
    width: 280px;
    font-size: 14px;
    line-height: 24px;
  }

  .error__button {
    width: 272px;
    height: 58px;
    font-size: 19px;
    margin-top: 25px;
  }
}
