.hashtag {
  margin: 0 auto;
}

.hashtag__link {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: @black;
}
