.info-impression {
  border: 0;
  border-top: 1px solid @color-e5;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.info-impression__label {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.info-impression__input {
  border: 0;
  background-color: @gray95;
}
