.info-comment {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 0;
  border-top: 1px solid @color-e5;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 55px;
  margin-top: -14px;
}

.info-comment__header {
  margin-top: 14px;
  margin-bottom: 14px;
}

.info-comment__text {
  display: block;
  width: 236px;
  height: 118px;
  resize: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: start;
  text-transform: initial;
  border: 0;
  background-color: @gray95;
  padding: 14px 23px 29px 21px;
}

.info-comment__text::placeholder {
  color: @black;
}

.info-comment__text:hover {
  background-color: @color-e5;
}

.info-comment__text:active {
  background-color: @white;
  outline: 4px @color-e5 solid;
}

@media (min-width: @tablet-width) {
  .info-comment {
    position: relative;
    grid-column: 1/4;
    margin-bottom: 58px;
    margin-top: 56px;
    border: 0;
  }

  .info-comment::before {
    position: absolute;
    top: 13px;
    left: 15px;
    content: "";
    display: block;
    width: 123px;
    height: 1px;
    background-color: @gray86;
  }

  .info-comment::after {
    position: absolute;
    top: 13px;
    right: 15px;
    content: "";
    display: block;
    width: 123px;
    height: 1px;
    background-color: @gray86;
  }

  .info-comment__header {
    margin-top: -2px;
    font-size: 21px;
  }

  .info-comment__text {
    margin-top: 41px;
    width: 605px;
    height: 115px;
    padding: 17px 23px 29px 21px;
  }
}

@media (min-width: @desktop-width) {
  .info-comment {
    margin: 0;
    padding: 0;
    grid-column: 1/4;
    max-width: 960px;
    margin-top: 2px;
  }

  .info-comment::before {
    top: 33px;
    left: 0;
    width: 280px;
  }

  .info-comment::after {
    top: 33px;
    right: 0;
    width: 280px;
  }

  .info-comment__header {
    margin-top: 24px;
  }

  .info-comment__text {
    margin: 0 auto;
    margin-top: 41px;
    width: 915px;
  }
}
