.info-contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
  padding: 0;
  border: 0;
  border-top: 1px solid @color-e5;
}

.info-contacts__header {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.info-contacts__notification {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.info-contacts__container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 280px;
  height: 58px;
}

.info-contacts__input {
  display: block;
  margin: 0 auto;
  width: 222px;
  height: 58px;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
  border: 0;
  background-color: @gray95;
}

.info-contacts__tel-ico {
  display: block;
  width: 58px;
  height: 58px;
  background-image: url("../img/phone.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: @hex2;
}

.info-contacts__email-ico {
  display: block;
  width: 58px;
  height: 58px;
  background-image: url("../img/mail.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: @hex2;
}

@media (min-width: @tablet-width) {
  .info-contacts {
    border: 0;
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
  }

  .info-contacts__notification {
    text-align: start;
    margin-left: 22px;
  }

  .info-contacts__container {
    width: 648px;
  }

  .info-contacts__input {
    width: 590px;
  }
}

@media (min-width: @desktop-width) {
  .info-contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 0;
  }

  .info-contacts__header {
    grid-column: 1/4;
  }

  .info-contacts__label {
    display: flex;
    justify-content: space-around;
  }

  .info-contacts__notification {
    text-align: start;
    margin-left: 22px;
  }

  .info-contacts__container {
    width: 315px;
  }

  .info-contacts__input {
    width: 257px;
  }
}
