.info-name {
  display: flex;
  flex-direction: column;
  min-height: 304px;
  padding: 0;
  border: 0;
  border-top: 1px solid @color-e5;
}

.info-name__header {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.info-name__label {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.info-name__input {
  display: block;
  height: 58px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: start;
  border: 0;
  background-color: @gray95;
  margin-left: 15px;
  padding-left: 22px;
}

.info-name__input--name {
  width: 230px;
}

.info-name__input--surname {
  width: 192px;
}

.info-name__input--patronymic {
  width: 194px;
}

@media (min-width: @tablet-width) {
  .info-name {
    border: 0;
  }

  .info-name__header {
    margin-bottom: 45px;
    margin-left: 35px;
    text-align: start;
  }

  .info-name__label {
    padding: 0;
    margin: 10px;
    margin-left: 40px;
  }

  .info-name__input--name {
    width: 216px;
  }

  .info-name__input--surname {
    width: 178px;
  }

  .info-name__input--patronymic {
    width: 180px;
  }
}

@media (min-width: @desktop-width) {
  .info-name {
    border: 0;
  }

  .info-name__header {
    margin-bottom: 55px;
    margin-left: 35px;
    text-align: start;
  }

  .info-name__label {
    padding: 0;
    margin: 10px;
    margin-left: 40px;
  }

  .info-name__input--name {
    width: 350px;
  }

  .info-name__input--surname {
    width: 312px;
  }

  .info-name__input--patronymic {
    width: 314px;
  }
}
