.info-name {
  display: flex;
  flex-direction: column;
  min-height: 304px;
  padding: 0;
  border: 0;
  border-top: 1px solid @color-e5;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.info-name__label {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.info-name__input {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  background-color: @gray95;
}
