.info-contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
  padding: 0;
  border: 0;
  border-top: 1px solid @color-e5;
}

.info-contacts__header {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.info-contacts__notification {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.info-contacts__input {
  display: block;
  margin: 0 auto;
  min-width: 280px;
  height: 58px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  background-color: @gray95;
}

@media (min-width: @tablet-width) {
  .info-contacts {
    border: 0;
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
  }

  .info-contacts__notification {
    text-align: start;
    margin-left: 22px;
  }

  .info-contacts__input {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .info-contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 0;
  }

  .info-contacts__header {
    grid-column: 1/4
  }

  .info-contacts__label {
    display: flex;
    justify-content: space-around;
  }

  .info-contacts__notification {
    text-align: start;
    margin-left: 22px;
  }

  .info-contacts__input {
    width: 100%;
  }
}
