.info-name {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  border: 0;
  border-top: 1px solid @color-e5;
}

.info-name__header {
  margin-top: 20px;
  margin-bottom: 19px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.info-name__label {
  display: flex;
  justify-content: center;
  width: 280px;
  margin-bottom: 18px;
  padding: 0 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.info-name__input {
  display: block;
  height: 58px;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  text-align: start;
  border: 0;
  background-color: @gray95;
  margin-left: 15px;
  padding-left: 19px;
}

.info-name__input::placeholder {
  color: @black;
}

.info-name__input:hover {
  background-color: @color-e5;
}

.info-name__input:focus {
  background-color: @white;
  outline: 4px @color-e5 solid;
}

.info-name__input--name {
  width: 208px;
}

.info-name__input--surname {
  width: 171px;
}

.info-name__input--patronymic {
  width: 175px;
}

.info-name__label-text--name {
  margin-top: 18px;
  margin-left: -2px;
}

.info-name__label-text--surname {
  margin-top: 18px;
  margin-left: -2px;
}

.info-name__label-text--patronymic {
  margin-top: 18px;
  margin-left: -2px;
}

@media (min-width: @tablet-width) {
  .info-name {
    position: relative;
    border: 0;
    margin: 0;
  }

  .info-name::before {
    position: absolute;
    top: 13px;
    left: -1px;
    content: "";
    display: block;
    width: 1px;
    height: 292px;
    background-color: @gray86;
  }

  .info-name__header {
    margin-top: 11px;
    margin-bottom: 45px;
    margin-left: 58px;
    text-align: start;
    font-size: 21px;
  }

  .info-name__label {
    padding: 0;
    margin: 10px;
    margin-left: 62px;
    margin-bottom: 8px;
  }

  .info-name__label-text--name {
    margin-top: 18px;
    margin-left: -19px;
  }

  .info-name__label-text--surname {
    margin-top: 18px;
    margin-left: -20px;
  }

  .info-name__label-text--patronymic {
    margin-top: 18px;
    margin-left: -23px;
  }

  .info-name__input--name {
    width: 195px;
  }

  .info-name__input--surname {
    width: 157px;
  }

  .info-name__input--patronymic {
    width: 157px;
  }
}

@media (min-width: @desktop-width) {
  .info-name {
    max-width: 480px;
    position: relative;
    border: 0;
    padding: 0;
  }

  .info-name::before {
    position: absolute;
    top: 13px;
    left: -11px;
    content: "";
    display: block;
    width: 1px;
    height: 292px;
    background-color: @gray86;
  }

  .info-name__header {
    margin-bottom: 44px;
    margin-left: 69px;
  }

  .info-name__label {
    margin: 0;
    width: 485px;
    margin-top: 11px;
    margin-bottom: 6px;
  }

  .info-name__label-text--name {
    margin-left: 52px;
  }

  .info-name__label-text--surname {
    margin-left: 56px;
  }

  .info-name__label-text--patronymic {
    margin-left: 51px;
  }

  .info-name__input {
    margin-left: 16px;
    padding-left: 20px;
  }

  .info-name__input--name {
    width: 326px;
  }

  .info-name__input--surname {
    margin-top: 3px;
    width: 290px;
  }

  .info-name__input--patronymic {
    width: 290px;
  }
}
