.info-places {
  border: 0;
  border-top: 1px solid @color-e5;
  font-family: "PT sans";
  font-style: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.info-places__label {
  font-family: "PT sans";
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.info-places__input {
  border: 0;
  background-color: @gray95;
}
