.intro {
  margin: 0 auto;
  background-position: center;
  background-image: url("/source/img/back-mobile.png");
  background-repeat: no-repeat;
  background-color: @white;
}

.intro__header {
  margin: 0 auto;
  padding: 0;
}

.intro__divider-top {
  margin: 0 auto;
}

.intro__info {

}

.intro__info-header {
  font-family: "PT sans";
  font-style: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.intro__info-text {
  font-family: "PT sans";
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}


.intro__divider-bottom {
  margin: 0 auto;
}
