.intro-catalog-info {
  margin: 0 auto;
  width: 458px;
  height: 158px;
}

.intro-catalog-info__header {
  display: block;
  font-weight: bold;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.intro-catalog-info__text {
  display: block;
  width: 280px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .intro-catalog-info {
    margin-top: 64px;
    margin-bottom: 76px;
  }

  .intro-catalog-info__header {
    width: 434px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 21px;
  }

  .intro-catalog-info__text {
    width: 434px;
    margin: 0 auto;
    margin-top: 38px;
    font-size: 14px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .intro-catalog-info {
    margin-top: 103px;
    margin-bottom: 78px;
  }

  .intro-catalog-info__header {
    width: 434px;
    margin: 0 auto;
  }

  .intro-catalog-info__text {
    margin-top: 34px;
    line-height: 26px;
  }
}
