.main-nav__item {
  font-family: "PT sans";
  font-style: bold;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  background-color: @blue;
  list-style-type: none;
}

.main-nav__link {
  text-decoration: none;
  color: @white;
}
