.page-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
}

.page-header__wrapper {
  position: relative;
}

.page-header__logo {
  display: block;
  height: 84px;
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    height: 97px;
  }
}
