.page-footer__wrapper {
  margin: 0 auto;
}

.hashtag {

}

.hashtag__link {
  font-family: "PT sans";
  font-style: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: @black;
}

.social {

}

.social__link {
  display: block;
  width: 46px;
  height: 48px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @blue;
}

.social__link--twitter {
  background-image: url("/source/img/icon-twitter.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.social__link--facebook {
  background-image: url("/source/img/icon-facebook.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.social__link--youtube {
  background-image: url("/source/img/icon-youtube.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.copyright {

}

.copyright__link {
  font-family: "PT sans";
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: @black;
}
