.page-form {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.page-form__button {
  display: block;
  background-color: @blue;
  border: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @white;
}

@media (min-width: @tablet-width) {
  .page-form {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: @desktop-width) {
  .page-form {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
