.search {
  width: 100%;
  margin: 0 auto;
}

.search__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.search__header {
  display: block;
  width: 280px;
  margin-top: 35px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.search__text {
  display: block;
  width: 280px;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.search__link {
  display: block;
  width: 280px;
  height: 58px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @white;
  background-color: @blue;
  text-decoration: none;
  margin-bottom: 50px;
}

@media (min-width: @tablet-width) {
  .search__header {
    width: 435px;
    margin-top: 58px;
  }

  .search__text {
    width: 435px;
  }

  .search__link {
    width: 458px;
    margin-bottom: 58px;
  }
}

@media (min-width: @desktop-width) {
  .search__header {
    width: 435px;
    margin-top: 58px;
  }

  .search__text {
    width: 465px;
  }

  .search__link {
    width: 458px;
    margin-bottom: 66px;
  }
}
