.video__wrapper {
  margin: 0 auto;
}

.video__info {
  margin: 0 auto;
}

.video__info-header {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.video__info-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
